<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style1.css')}}">
    <!--<script type="text/javascript" src="{{ url_for('static', filename='scripts/getUserId.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/getUsers.js')}}"></script>-->
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/viewsHandler.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/canvas.js')}}"></script>

    <title>Document</title>
</head>
<body>
    <div class="menubar">
        <div class="title">
            <span>Torre Test!</span>
        </div>
        <div id="principal">
          <span>
                Principal
            </span>
        </div>
        <div>
            <span id="nodes">
                Node related
            </span>
        </div>
        <div>
            <span>
                Stadistics
            </span>
        </div>
    </div>
    <div class="content">
      <div class="consult">
        <div>
            <h3>Put the id to draw!</h3>
        </div>
        <div class="search_id">
            <input type="text" name="id" id="id_user" placeholder="mguelfajardoc">
            <button id="b1" value="Search" name="search">Search</button>
        </div>
      </div>
    </div>
    <p id="wait"></p>
    <canvas width="1000px" height="500px">

    </canvas>
    <p>After canvas.</p>
    <div id="image" syle="background-image: url('https://starrgate.s3.amazonaws.com:443/users/f8b9ce0f23bcef1ba4ff968346a01745ee009757/profile_AzXACAQ.jpg');">
    </div>
</body>
